﻿header, footer, aside, article {  
    display: block;  
}  

body {
    background-color: #FFFFFF;    
}

header
{
    width: 100%;
    height: 128px;
    display:block; 
    background-image: url("../images/header.png");
    background-repeat:repeat-x;
}

#topNav
{
    /* font-size: small; */
    z-index: 1;
}

#container
{
    /* position: fixed;
    left: 0;       
    height: 100%;
		width: 80%;
	height: 80%;
	position: fixed;
	*/
	top: auto;
	
	overflow: auto;
	padding: 10px;
	margin: 0px;
}

#title
{
	padding: 5px 15px 5px 15px;
	border-radius: 15px;
    background-color: black;
	color: white;
	float: right;
}

#content
{
    border-radius: 15px;
	border: 0px solid black;	
	padding: 10px;	
}

table, th, td
{
    border: 0px;
    padding: 5px;
}

table
{
    margin: 10px;
    border: 1px solid #000;
    border-collapse: separate;
}

tr {
    background-color: #EEE;
}

tr.oddrow {
    border-bottom: 1px solid #00F;
    background-color: #FFF;
}

tr.headrow {
    background-color: #FFA;
    font-weight: bold;
}

.div_black
{
    background-color: black;
    display: block; 
    color: silver;
}

.ui-menu{
   z-index: 1000;
}

.ui-menu { 
    overflow: hidden;
}
.ui-menu .ui-menu {
    overflow: visible !important;
}
.ui-menu > li { 
    float: left;
    display: block;
    width: auto !important;
}
.ui-menu ul li {
    display:block;
    float:none;
}
.ui-menu ul li ul {
    left:120px !important;
    width:100%;
}
.ui-menu ul li ul li {
    width:auto;
}
.ui-menu ul li ul li a {
    float:left;
}
.ui-menu > li {
    margin: 5px 5px !important;
    padding: 0 0 !important;
}
.ui-menu > li > a { 
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}
.ui-menu .ui-menu-icon { 
    margin-top: 0.3em !important;
}
.ui-menu .ui-menu .ui-menu li { 
    float: left;
    display: block;
}