<td>
  <?php print @$this->model->id; ?>
</td>
<td>
  <?php print @$this->model->name; ?>
</td>
<td>
  <?php print @$this->model->cityName; ?>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/edit/airport/<?php print @$this->model->id; ?>">Editovat</a>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/del/airport/<?php print @$this->model->id; ?>">Smazat</a>
</td>
