<td>
  <?php print @$this->model->name; ?>
</td>
<td>
  <?php print @$this->model->countryName; ?>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/edit/city/<?php print @$this->model->id; ?>">Editovat</a>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/del/city/<?php print @$this->model->id; ?>">Smazat</a>
</td>
