<td>
  <?php print @$this->model->name; ?>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/edit/personrole/<?php print @$this->model->id; ?>">Editovat</a>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/del/personrole/<?php print @$this->model->id; ?>">Smazat</a>
</td>
