<td>
  <?php print @$this->model->name; ?>
</td>
<td>
  <?php print @$this->model->airlinesName; ?>
</td>
<td>
  <?php print @$this->model->seats; ?>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/edit/plane/<?php print @$this->model->id; ?>">Editovat</a>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/del/plane/<?php print @$this->model->id; ?>">Smazat</a>
</td>
