<td>
  <?php print @$this->model->code; ?>
</td>
<td>
  <?php print @$this->model->name; ?>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/edit/country/<?php print @$this->model->id; ?>">Editovat</a>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/del/country/<?php print @$this->model->id; ?>">Smazat</a>
</td>
