<td>
  <?php
    $date = new DateTime();
    $date->setTimestamp(@$this->model->date / 1000);
    print $date->format('d.m.Y H:i:s'); 
  ?>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/edit/order/<?php print @$this->model->id; ?>">Editovat</a>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/del/order/<?php print @$this->model->id; ?>">Smazat</a>
</td>
