<td>
  <?php print @$this->model->personFirstname; ?>
</td>
<td>
  <?php print @$this->model->personSurname; ?>
</td>
<td>
  <?php print @$this->model->personRoleName; ?>
</td>
<td>
  <?php print @$this->model->flightCode; ?>
</td>
<td>
  <?php print @$this->model->currencyName; ?>
</td>
<td>
  <?php print @$this->model->price; ?>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/edit/reservation/<?php print @$this->model->id; ?>">Editovat</a>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/del/reservation/<?php print @$this->model->id; ?>">Smazat</a>
</td>
