<td>
  <?php print @$this->model->firstname; ?>
</td>
<td>
  <?php print @$this->model->surname; ?>
</td>
<td>
  <?php print @$this->model->street; ?>
</td>
<td>
  <?php print @$this->model->cityName; ?>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/edit/person/<?php print @$this->model->id; ?>">Editovat</a>
</td>
<td>
  <a href="<?php print @$this->ROOTPATH; ?>evidence/del/person/<?php print @$this->model->id; ?>">Smazat</a>
</td>
