	<table>
				<tr>
                    <th><label for="lid">Kód:<span title="Toto pole je vyžadováno.">*</span></label></th>
                    <td><input type="text" maxlength="255" name="id" id="lid" size="60" value="<?php print @$this->model["id"]; ?>" /></td>
                </tr>	
                <tr>
                    <th><label for="lname">Stát:<span title="Toto pole je vyžadováno.">*</span></label></th>
                    <td><input type="text" maxlength="255" name="name" id="lname" size="60" value="<?php print @$this->model["name"]; ?>" /></td>
                </tr>	
                <tr>
                    <th></th>
                    <td><input type="submit" name="send" value="Uložit" /></td>
                </tr>
    </table>

