        <div style="margin: 30px; padding: 10px; width: 200px; float: right; text-align: center; background-color: white; color: red; border-radius: 15px; border: solid silver 1px;">
          <?php 
			if(@$this->USERID=="-1")
			{ 
			  print "Nepřihlášený uživatel";
			}
			else
			{ 
			  print @$this->USERNAME;
			}
			?>
        </div>
        
        <img src="<?php print @$this->IMGPATH; ?>logo.png" alt="logo" />
