<tr class="headrow">
  <td>Číslo letu</td>
  <td>Odlet z letiště</td>
  <td>Daum odletu</td>
  <td>Přílet na letiště</td>
  <td>Datum příletu</td>
  <td>Letadlo</td>
  <td>Míst</td>
  <td>Editace</td>
  <td>Smazat</td>
</tr>
