<script>
  $(function() {
  $( "#dialog" ).dialog();
  });

  $(function() {
  $( "#refresh" )
  .button()
  .click(function( event ) {
  location.href = '<?php print @$this->ROOTPATH; ?>';
  });
  });
</script>

<div id="dialog" title="Security">
  <center>
  <p>Byl jste úspěšně přihlášen.</p>
    <hr />
  <button id="refresh">OK</button>
  </center>
</div>
