<script>
  $(function() {
  $( "#dialog" ).dialog();
  });

  $(function() {
  $( "#refresh" )
  .button()
  .click(function( event ) {
  location.href = '<?php print @$this->ROOTPATH; ?>uac/login';
});
});
</script>

<div id="dialog" title="Security">
  <center>
  <p>Chybné přihlašovací jméno nebo heslo.</p>
    <hr />
  <button id="refresh">OK</button>
  </center>
</div>
